SITE_URL=https://legacyevents.pl
SMTP_HOST=r1.idhosting.pl
SMTP_PORT=465
SMTP_USER=
SMTP_PASS=
MAIL_FROM=zapytanie@legacyevents.pl
# Kilka adresów oddzielonych przecinkiem
MAIL_TO=kontakt@legacyevents.pl,banasiak@nexo-it.pl
